@import url("/assets/css/priz-neon.css");

:root {
    --link-color: #88ff88;
    --link-hover: #aaffaa;

    --textarea-bg: #00110022;
    --textarea-caret: #919991;
    --textarea-border: #0f02;

    --theme: #0f0;

    --table-head-bg: #0f04;
    --table-caret: #0f0;
    --table-row-shade: #0f0;

    --spoil-border: #334433;
    --spoil-bg: #223322;

    --code-border: #0f02;
    --code-bg: #00110066;

    --jumper-caret: #0f0;

    --bg: #112211;
}
