@import url("/assets/css/priz-neon.css");

:root {
    --link-color: #9999ff;
    --link-hover: #bbbbff;

    --textarea-bg: #04041122;
    --textarea-caret: #4444aa;
    --textarea-border: #44f2;

    --theme: #44f;

    --table-head-bg: #44f4;
    --table-caret: #44f;
    --table-row-shade: #44f1;

    --spoil-border: #353544;
    --spoil-bg: #252533;

    --code-border: #44f2;
    --code-bg: #04041166;

    --jumper-caret: #44f;

    --bg: #151522;
}
