@import url("/assets/css/priz-neon.css");

:root {
    --link-color: #88ffaa;
    --link-hover: #aaffcc;

    --textarea-bg: #00110822;
    --textarea-caret: #00aa66;
    --textarea-border: #0f82;

    --theme: #0f8;

    --table-head-bg: #0f84;
    --table-caret: #0f8;
    --table-row-shade: #0f81;

    --spoil-border: #334438;
    --spoil-bg: #223328;

    --code-border: #0f82;
    --code-bg: #00110866;

    --jumper-caret: #0f8;

    --bg: #112218;
}
