@import url("/assets/css/priz-neon.css");

:root {
    --link-color: #aa88ff;
    --link-hover: #ccaaff;

    --textarea-bg: #08001122;
    --textarea-caret: #6600aa;
    --textarea-border: #80f2;

    --theme: #80f;

    --table-head-bg: #80f4;
    --table-caret: #80f;
    --table-row-shade: #80f1;

    --spoil-border: #383344;
    --spoil-bg: #282233;

    --code-border: #80f2;
    --code-bg: #08001166;

    --jumper-caret: #80f;

    --bg: #181122;
}
