@import url("/assets/css/priz-neon.css");

:root {
    --link-color: #ff88ff;
    --link-hover: #ffaaff;

    --textarea-bg: #11001122;
    --textarea-caret: #aa00aa;
    --textarea-border: #f0f2;

    --theme: #f0f;

    --table-head-bg: #f0f4;
    --table-caret: #f0f;
    --table-row-shade: #f0f1;

    --spoil-border: #443344;
    --spoil-bg: #332233;

    --code-border: #f0f2;
    --code-bg: #11001166;

    --jumper-caret: #f0f;

    --bg: #221122;
}
