@import url("/assets/css/priz-neon.css");

:root {
    --link-color: #aaff88;
    --link-hover: #ccffaa;

    --textarea-bg: #08110022;
    --textarea-caret: #959991;
    --textarea-border: #8f02;

    --theme: #8f0;

    --table-head-bg: #8f04;
    --table-caret: #8f0;
    --table-row-shade: #8f01;

    --spoil-border: #384433;
    --spoil-bg: #283322;

    --code-border: #8f02;
    --code-bg: #08110066;

    --jumper-caret: #8f0;

    --bg: #182211;
}
