@import url("/assets/css/priz-neon.css");

:root {
    --link-color: #ffff88;
    --link-hover: #ffffaa;

    --textarea-bg: #11110022;
    --textarea-caret: #999991;
    --textarea-border: #ff02;

    --theme: #ff0;

    --table-head-bg: #ff04;
    --table-caret: #ff0;
    --table-row-shade: #ff0;

    --spoil-border: #444433;
    --spoil-bg: #333322;

    --code-border: #ff02;
    --code-bg: #11110066;

    --jumper-caret: #ff0;

    --bg: #222211;
}
