/* ---- Base style -------------------------------------------------------------------------------------------------- */
:root {
    --curve: cubic-bezier(0.5, 0, 0.25, 1.25);
    --curve-flat: cubic-bezier(0.5, 0, 0.25, 1);
    --curve-dur: 0.75s;

    --radius-large-px: 5px;
    --radius-small-px: 2px;

    --sect-border: 2px;
    --sect-padding: 10px;

    --spacing: 5px;
    --spacing-sm: 2px;

    --shadow-large-px: 10px;
    --shadow-small-px: 5px;

    --shadow-img-px: 16px;

    /* ---- Calculations -------------------------------------------------------------------------------------------- */
    --curve-dur-half: calc(var(--curve-dur) / 2);
    --curve-eq: var(--curve-dur) var(--curve) 0s;
    --curve-eq-flat: var(--curve-dur) var(--curve-flat) 0s;
    --curve-eq-half: var(--curve-dur-half) var(--curve) 0s;
    --curve-eq-flat-half: var(--curve-dur-half) var(--curve-flat) 0s;

    --radius-lg: var(--radius-large-px) var(--radius-large-px) 0px 0px;
    --radius-sm: var(--radius-small-px) var(--radius-small-px) 0px 0px;

    --sect-extra: calc(( var(--sect-border) + var(--sect-padding) ) * 2);
    --sect-margin: calc(( 100vw - var(--max-width) - var(--sect-extra) ) / 2);

    --spacing-neg: calc(0px - var(--spacing));
    --spacing-sm-neg: calc(0px - var(--spacing));

    --shadow-large: 0px 0px var(--shadow-large-px);
    --shadow-small: 0px 0px var(--shadow-small-px);
    --shadow-double: 0px 0px calc(var(--shadow-large-px) * 2);
    --shadow-quad: 0px 0px calc(var(--shadow-large-px) * 4);
    --shadow-img: 0px 0px var(--shadow-img-px) calc(var(--shadow-img-px) * 3 / 4);

    --transition-default: color var(--curve-eq),
                          opacity var(--curve-eq-flat),
                          box-shadow var(--curve-eq),
                          text-shadow var(--curve-eq),
                          filter var(--curve-eq),
                          bottom var(--curve-eq),
                          top var(--curve-eq),
                          z-index var(--curve-eq),
                          transform var(--curve-eq-half),
                          border var(--curve-eq-flat),
                          padding var(--curve-eq-flat),
                          border-radius var(--curve-eq),
                          background var(--curve-eq);
}

.mono-font {
    font-family: "Ubuntu Mono", monospace;
} * {
    font-family: "Ubuntu", sans-serif;
    transition: var(--transition-default);
} div {
    line-height: 1.5;
}

/* ---- Fix for chrome, damnit -------------------------------------------------------------------------------------- */
body {
    background-color: #111;
}

body, div:not(#logo, #jumper),
i, b, u, s, blockquote, sup,
sub, progress, td {
    transition: none;
}


/* ---- Links ------------------------------------------------------------------------------------------------------- */
a {
    color: var(--link-color);
} a:hover, a:focus {
    color: var(--link-focus);
} a > img {
    z-index: 0;
    position: relative;
} a > img:hover {
    z-index: 100;
    box-shadow: #000 var(--shadow-img);
    transform: scale(1.1);
}


/* ---- Textarea ---------------------------------------------------------------------------------------------------- */
textarea {
    background-color: var(--textarea-bg);
    caret-color: var(--textarea-caret);
    border-style: solid;
    border-width: var(--sect-border);
    border-color: var(--textarea-border) var(--textarea-border) var(--bg);
    border-radius: var(--radius-lg);
    padding: var(--spacing);
    color: #fff;
    margin: var(--spacing) 0px;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}


/* ---- Neon -------------------------------------------------------------------------------------------------------- */
body {
    text-align: center;
    margin: auto;
    color: #aaa;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--theme);
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    text-align: left;
}

h1.flicker, h2.flicker, h3.flicker,
h4.flicker, h5.flicker, h6.flicker {
    transition: var(--transition-default), opacity 0s ease 0s;
}

h1.dim, h2.dim, h3.dim,
h4.dim, h5.dim, h6.dim {
    opacity: 70%;
}

/* ---- Tables ------------------------------------------------------------------------------------------------------ */
th {
    color: var(--theme);
    background-color: var(--table-head-bg);
    caret-color: var(--table-caret);
    border-style: solid;
    border-width: 2px 2px 0px 0px;
    border-color: var(--theme) var(--theme) #0000;
    margin: var(--spacing);
    padding: var(--spacing);
    border-radius: 0px;
    text-shadow: 0px 0px 5px;
} th:hover, th:focus {
    text-shadow: 0px 0px 10px;
    color: var(--link-hover);
} th:nth-child(1) {
    border-top-left-radius: var(--radius-large-px);
} th:nth-last-child(1) {
    border-top-right-radius: var(--radius-large-px);
} tr:nth-child(2n) {
    background-color: var(--table-row-shade);
} td, tr {
    margin: var(--spacing);
    padding: var(--spacing);
    border-width: 0px 2px 0px 0px;
    border-color: #0000 var(--theme);
    border-style: solid;
} table {
    width: 100%;
    border-spacing: 0px;
} blockquote {
    margin: 0px var(--spacing) var(--spacing-neg);
    padding: var(--spacing-sm) var(--sect-padding);
    border: var(--sect-border) solid;
    border-color: var(--bg) var(--bg) var(--bg) var(--theme);
}

th:first-child, td:first-child {
    border-left-width: var(--sect-border);
} tr:last-child td {
    border-bottom: var(--sect-border) solid var(--bg);
}

tr.hr td {
    border-bottom: var(--sect-border) solid var(--theme)
}

/* ---- List elements ----------------------------------------------------------------------------------------------- */
al {
    display: block;
    list-style-type: lower-alpha;
} ol, ul, al {
    margin: 0px;
    padding-top: 0px;
    padding-left: 32px;
} ul {
    list-style-type: "~ ";
}
ul > li::marker,
ol > li::marker,
al > li::marker {
    font-family: "Ubuntu Mono", mono;
    color: #666;
}

ul.space li, ol.space li, al.space li {
    margin: var(--sect-padding) 0px;
}

/* ---- Spoil block ------------------------------------------------------------------------------------------------- */
spoil {
    border-style: solid;
    border-width: var(--sect-border);
    border-color: var(--spoil-border) var(--spoil-border) var(--bg);
    border-radius: var(--radius-lg);
    background-color: var(--spoil-bg);
    font-size: smaller;
    margin: var(--spacing-sm);
    padding: var(--spacing-sm);
    color: var(--spoil-bg);
}
spoil:hover, spoil:focus {
    color: #fff;
} .unhide {
    color: #fff !important;
}


/* ---- Code block -------------------------------------------------------------------------------------------------- */
codeblock, codeline {
    border-style: solid;
    font-family: "Ubuntu Mono", monospace;
    border-width: var(--sect-border);
    border-color: var(--code-border) var(--code-border) var(--bg);
    border-radius: var(--radius-lg);
    background-color: var(--code-bg);
    margin: var(--spacing);
    padding: var(--spacing);
    color: #aaa;
    cursor: auto;
    white-space: pre-wrap;
    display: block;
} codeblock *, codeline * {
    font-family: "Ubuntu Mono", monospace;
} codeline {
    margin: 0px var(--spacing-sm);
    padding: var(--spacing-sm) var(--spacing);
    font-size: smaller;
    display: inline-block;
}


/* ---- Dict block -------------------------------------------------------------------------------------------------- */
a-l {
    text-align: left;
} a-r {
    text-align: right;
} a-c {
    text-align: center;
} a-j, a-l, a-r, a-c {
    display: block;
} f-l {
    float: left;
} f-r {
    float: right;
}

line {
    height: var(--spacing);
    border: var(--sect-border) solid var(--theme);
    border-radius: var(--radius-large-px);
    width: 80%;
    margin: auto;
    display: block;
    box-shadow: var(--theme) var(--shadow-small),
                var(--theme) var(--shadow-small) inset;
}
line:hover, line:focus {
    border-color: var(--link-hover);
    box-shadow: var(--link-hover) var(--shadow-large),
                var(--link-hover) var(--shadow-large) inset;
}
accent {
    position: relative;
}

div.dict-line {
    display: flex;
    transition: none;
} div.dict-line dict {
    flex-grow: 1;
    width: unset !important;
}

dict {
    display: inline-block;
    width: 0px;
    border: var(--sect-border) solid #444;
    border-radius: var(--radius-small-px);
    height: 0px !important;
    position: relative;
    top: 10px;
    margin: 0px var(--spacing);
    transition: none;
}

@media screen and (max-width: 480px) {
    div.dict-line {
        display: block;
        background-color: var(--code-bg);
        padding: var(--spacing) var(--sect-padding);
        margin-bottom: var(--sect-padding);
        border-radius: var(--radius-large-px)
    }
    div.dict-line > :last-child {
        display: block;
        float: none;
        text-align: right;
    }
    div.dict-line > :first-child {
        position: absolute;
        display: block;
    }
    div.dict-line > dict {
        display: block;
        height: 24px !important;
        z-index: -1;
        opacity: 0;
    }
}


/* ---- Static elements --------------------------------------------------------------------------------------------- */
#footer {
    font-size: x-small;
} #logo, #head {
    width: 100%;
    text-align: center;
    font-size: 48px;
} #jumper {
    color: var(--theme);
    caret-color: var(--jumper-caret);
    border-style: solid;
    border-width: var(--sect-border);
    border-color: var(--theme) #0000 #0000 var(--theme);
    border-radius: var(--radius-large-px) 0px 0px;
    padding: var(--spacing);
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-family: "Ubuntu Mono", mono;
    background-color: var(--spoil-bg);
    margin: 0px;
    z-index: 100;
    font-size: 200%;
} #jumper:hover, #jumper:focus {
    text-shadow: var(--shadow-small);
    box-shadow: var(--theme) var(--shadow-small);
}

.emoji {
    height: 18.75px;
    display: inline-block;
    position: relative;
    top: 2px;
}

#logo {
    position: relative;
    top: 20px;
} #logo:hover, #logo:focus {
    filter: drop-shadow(var(--theme) var(--shadow-small));
} #head {
    position: relative;
    top: -100px;
    transform: rotate(-14deg);
    text-shadow: var(--shadow-small), black var(--shadow-double);
    filter: drop-shadow(#0008 0px 0px 8px);
    font-style: italic;
} #head:hover, #head:focus {
    text-shadow: var(--shadow-large), black var(--shadow-quad);
    filter: drop-shadow(#000 0px 0px 8px);
} #logo > img:hover {
    cursor: pointer;
}


/* ---- Design ------------------------------------------------------------------------------------------------------ */
.list {
    max-height: 30vh;
    overflow-y: auto;
    text-align: center !important;
} .margin {
    margin: var(--spacing) auto;
} .loading {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: var(--spacing);
} .invis {
    display: none;
} .bgcolor {
    background-color: var(--bg);
} .mono {
    font-family: "Ubuntu Mono", mono;
} .hidden-marker::marker {
    color: #0000;
} .flip-h {
    transform: scaleX(-1);
    display: inline-block;
} .flip-v {
    transform: scaleY(-1);
    display: inline-block;
} .flip-h.flip-v {
    transform: scale(-1);
}

.sect {
    border-style: solid;
    border-width: var(--sect-border);
    border-color: var(--theme) var(--theme) var(--bg);
    border-radius: var(--radius-lg);
    margin: var(--spacing) 0px var(--spacing) var(--sect-margin);
    text-align: justify;
    padding: var(--sect-padding);
    transition: none;
}


/* ---- More neon --------------------------------------------------------------------------------------------------- */
.neon {
    border-radius: var(--radius-large-px);
    border: 2px solid var(--theme);
    box-shadow: var(--theme) var(--shadow-small) 1px;
} .neon:hover, .neon:focus {
    box-shadow: var(--link-hover) var(--shadow-large) 1px;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: var(--shadow-small);
    color: var(--theme);
}
a:hover, a:focus {
    text-shadow: var(--shadow-large);
    color: var(--link-hover);
}

h1:hover, h1:focus, h2:hover, h2:focus,
h3:hover, h3:focus, h4:hover, h4:focus,
h5:hover, h5:focus, h6:hover, h6:focus {
    text-shadow: var(--shadow-large);
    color: var(--link-hover);
}



/* ---- Page width -------------------------------------------------------------------------------------------------- */
:root {
    --max-width: 90vw;
} @media only screen and (min-width: 580px) {
    :root { --max-width: 540px; }
} @media only screen and (min-width: 640px) {
    :root { --max-width: 600px; }
} @media only screen and (min-width: 720px) {
    :root { --max-width: 680px; }
} @media only screen and (min-width: 1280px) {
    :root { --max-width: 720px; }
} @media only screen and (min-width: 780px) {
    nav > span { float: right !important; }
    table img { transform-origin: center !important; }
    #jumper { font-size: 100%; }
}

.sect, .tab {
    width: var(--max-width);
} img {
    max-width: var(--max-width);
    border-radius: var(--radius-large-px);
}


/* ---- Verbosity --------------------------------------------------------------------------------------------------- */
:focus, :hover {
    outline: currentcolor none medium;
} .focusing {
    outline: currentcolor dotted medium;
}

h1, h2, h3, h4, h5, h6,
spoil, button, #jumper {
    cursor: pointer;
} nah, #head, img {
    cursor: default;
} def {
    cursor: help;
} a {
    cursor: pointer;
}


/* ---- Miscellaneous ----------------------------------------------------------------------------------------------- */
body {
    background-color: var(--bg) !important;
} a {
    text-decoration: underline;
} nav {
    position: fixed;
    left: 0;
    right: 0;
    text-align: center !important;
    background: inherit;
    box-shadow: 0px 0px 16px 16px var(--bg);
    bottom: -100px;
    z-index: 50;
    margin-bottom: 0px !important;
    bottom: -100px;
    padding-bottom: calc(var(--sect-padding) * 2) !important;
    transition: var(--transition-default) !important;
} div.sect:last-child > div:last-child {
    margin-bottom: 30px !important;
} nav > span {
    float: left;
    height: 0px;
    display: block;
    opacity: 50%;
    top: 2px;
    position: relative;
    cursor: pointer;
} nav > span:hover {
    opacity: 80%;
    text-shadow: var(--shadow-small);
} input[type="radio"], input[type="checkbox"], input + label {
    cursor: pointer;
} input[checked] + label {
    font-weight: bold;
} nav.visible {
    bottom: calc(0px - var(--sect-padding));
} nav.the-sads {
    opacity: 0;
    bottom: -24px;
    z-index: -1;
}

:not(#links_and_sources, nav, #funnytextthing) > a[target="_blank"]::after {
    display: inline-block;
    transition: opacity var(--curve-eq-half),
                z-index var(--curve-eq-half);
    font-size: 0;
    color: #ccc;
    content: url("data:image/webp;base64,UklGRlgAAABXRUJQVlA4TEsAAAAvD8ADEB8w//M//wKCguVdD3QYwCq2bSUb+z5RXgKkGTTjRSGCu5waEf2Pr1/tEB3AIlqMi3ijqBtFoTHr9DKoZFTBKBgDnLb92S0A");
    text-decoration: none;
    text-shadow: none;
    position: absolute;
    text-shadow: none;
    background-color: var(--spoil-bg);
    padding: var(--spacing-sm) var(--spacing);
    margin-left: var(--spacing-sm-neg);
    border-radius: var(--radius-lg);
    border: var(--sect-border) solid;
    border-color: var(--spoil-border) var(--spoil-border) var(--bg);
    height: 16px;
    opacity: 0;
    transform: scale(0.6);
    z-index: -1;
} a[target="_blank"]:hover::after {
    opacity: 1 !important;
    z-index: 1000 !important;
} #funnytextthing > img {
    display: revert;
}

table img {
    max-height: 96px;
    max-width: 96px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: var(--radius-large-px);
    transform: scale(1);
    transition: all var(--curve-eq-flat-half), transform var(--curve-eq-half) !important;
    z-index: 0;
    transform-origin: right;
    position: relative;
    width: 100%;
    background: #0000;
    backdrop-filter: blur(5px);
    padding: 0px;
    margin: 0px;
} table img:hover {
    transform: scale(3);
    z-index: 100;
    box-shadow: #000 var(--shadow-large);
    background: #0008;
    padding: 10px;
    margin: -10px;
}

@media screen and (max-width: 580px) {
    td, th {
        white-space: nowrap;
        min-width: 96px;
        text-align: left;
    } table {
        display: block;
        overflow: auto;
    } tbody {
        display: table;
        width: 100%;
    }
    tr:last-child img {
        transform-origin: bottom right;
    } tr:nth-child(2) img {
        transform-origin: top right;
    }
}

img[controls] {
    width: 100%;
}

span.pride i:first-child {
    color: #ff0000;
} span.pride i:nth-child(2) {
    color: #ffffff;
} span.pride i:last-child {
    color: #4444ff;
}

/* ---- Photos ------------------------------------------------------------------------------------------------------ */
div.album img {
    max-width: 100%;
    display: block;
    margin-bottom: var(--sect-padding);
} div.album img + br {
    display: none;
}

div.photogrid {
    display: grid;
    column-gap: 8px;
    row-gap: 4px;
    grid-template-columns: auto auto;
} div.photogrid img {
    border-radius: var(--radius-large-px);
    width: 100%;
    cursor: pointer;
    transition: all var(--curve-eq-flat-half), transform var(--curve-eq-half) !important;
}

/* ---- Progress ---------------------------------------------------------------------------------------------------- */
progress {
    border: var(--sect-border) solid var(--code-border);
    background-color: #0000;
    border-radius: 8px;
    vertical-align: text-bottom;
    height: 12px;
    width: calc(100% - 54px);
} progress:last-child {
    width: calc(100% - var(--spacing));
} progrss + label {
    margin-left: var(--spacing);
}
progress::-moz-progress-bar {
    background-color: var(--textarea-caret);
    border-radius: 8px;
} progress::-webkit-progress-value {
    background-color: var(--textarea-caret);
    border-radius: 8px;
} progress::-webkit-progress-bar {
    background-color: #0000;
}

/* ---- /photos/ ---------------------------------------------------------------------------------------------------- */
img[data-src] {
    z-index: 1;
    position: relative;
    width: 100%;
    top: 0px;
    border-radius: var(--radius-large-px);
    filter: none;
    border: 0px solid #0000;
    transform: scale(1);
} img.loaded.clicked {
    box-shadow: 0px 0px 768px 240px #110008;
    z-index: 100 !important;
    padding: 0px;
    border-radius: calc(var(--radius-large-px) * 2);
    border: 2px solid #000;
} img.loaded.clicked:not(.blur) {
    background: linear-gradient(150deg, #f08, #0f8 15%, #0ff 85%, #80f 100%);
    padding: 2px;
    border-width: 0px;
} img.blur {
    filter: blur(2.5px) saturate(1);
} img.blur.bw {
    filter: blur(0px) saturate(0);
} div.vert {
    display: flex;
} div.vert > img:last-child {
    margin-left: var(--sect-padding);
    transform-origin: right;
} div.vert > img:first-child {
    transform-origin: left;
} div.vert > img {
    max-width: calc(50% - var(--sect-padding) / 2);
}

img.loaded:hover,
img.loaded:active,
img.loaded:focus {
    cursor: pointer;
    z-index: 10;
}

#spacer {
    transition: none;
    height: 0px;
}

#twitter-widget-0 {
    max-width: 550px;
    margin: auto;
}
