@import url("/assets/css/priz-neon.css");

:root {
    --link-color: #88aaff;
    --link-hover: #aaccff;

    --textarea-bg: #00081122;
    --textarea-caret: #919599;
    --textarea-border: #08f2;

    --theme: #08f;

    --table-head-bg: #08f4;
    --table-caret: #08f;
    --table-row-shade: #08f1;

    --spoil-border: #333844;
    --spoil-bg: #222833;

    --code-border: #08f2;
    --code-bg: #00081166;

    --jumper-caret: #08f;

    --bg: #111822;
}
