@import url("/assets/css/priz-neon.css");

:root {
    --link-color: #88ffff;
    --link-hover: #aaffff;

    --textarea-bg: #00111122;
    --textarea-caret: #00aaaa;
    --textarea-border: #0ff2;

    --theme: #0ff;

    --table-head-bg: #0ff4;
    --table-caret: #0ff;
    --table-row-shade: #0ff1;

    --spoil-border: #334444;
    --spoil-bg: #223333;

    --code-border: #0ff2;
    --code-bg: #00111166;

    --jumper-caret: #0ff;

    --bg: #112222;
}
