@import url("/assets/css/priz-neon.css");

:root {
    --link-color: #ffffff;
    --link-hover: #ffffff;

    --textarea-bg: #11111122;
    --textarea-caret: #999999;
    --textarea-border: #fff2;

    --theme: #fff;

    --table-head-bg: #fff4;
    --table-caret: #fff;
    --table-row-shade: #fff;

    --spoil-border: #444444;
    --spoil-bg: #333333;

    --code-border: #fff2;
    --code-bg: #11111166;

    --jumper-caret: #fff;

    --bg: #222222;
}
