@import url("/assets/css/priz-neon.css");

:root {
    --link-color: #ff8888;
    --link-hover: #ffaaaa;

    --textarea-bg: #11000022;
    --textarea-caret: #999191;
    --textarea-border: #f002;

    --theme: #f00;

    --table-head-bg: #f004;
    --table-caret: #f00;
    --table-row-shade: #f001;

    --spoil-border: #443333;
    --spoil-bg: #332222;

    --code-border: #f002;
    --code-bg: #11000066;

    --jumper-caret: #f00;

    --bg: #221111;
}
