@import url("/assets/css/priz-neon.css");

:root {
    --link-color: #8888ff;
    --link-hover: #aaaaff;

    --textarea-bg: #00001122;
    --textarea-caret: #919199;
    --textarea-border: #04f2;

    --theme: #04f;

    --table-head-bg: #04f4;
    --table-caret: #04f;
    --table-row-shade: #04f;

    --spoil-border: #333344;
    --spoil-bg: #222233;

    --code-border: #04f2;
    --code-bg: #00001166;

    --jumper-caret: #04f;

    --bg: #111122;
}
