@import url("/assets/css/priz-neon.css");

:root {
    --link-color: #ff88aa;
    --link-hover: #ffaacc;

    --textarea-bg: #11000822;
    --textarea-caret: #999195;
    --textarea-border: #f082;

    --theme: #f08;

    --table-head-bg: #f084;
    --table-caret: #f08;
    --table-row-shade: #f081;

    --spoil-border: #443338;
    --spoil-bg: #332228;

    --code-border: #f082;
    --code-bg: #11000866;

    --jumper-caret: #f08;

    --bg: #221118;
}
