@import url("/assets/css/priz-neon.css");

:root {
    --link-color: #aaaaaa;
    --link-hover: #cccccc;

    --textarea-bg: #08080822;
    --textarea-caret: #959595;
    --textarea-border: #8882;

    --theme: #888;

    --table-head-bg: #8884;
    --table-caret: #888;
    --table-row-shade: #8881;

    --spoil-border: #383838;
    --spoil-bg: #282828;

    --code-border: #8882;
    --code-bg: #08080866;

    --jumper-caret: #888;

    --bg: #181818;
}
