@import url("/assets/css/priz-neon.css");

:root {
    --link-color: #ffaa88;
    --link-hover: #ffccaa;

    --textarea-bg: #11080022;
    --textarea-caret: #aa6600;
    --textarea-border: #f802;

    --theme: #f80;

    --table-head-bg: #f804;
    --table-caret: #f80;
    --table-row-shade: #f801;

    --spoil-border: #443833;
    --spoil-bg: #332822;

    --code-border: #f802;
    --code-bg: #11080066;

    --jumper-caret: #f80;

    --bg: #221811;
}
